# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Testing and coverage
.pytest_cache/
.coverage

# Environment variables
.env

# Local databases
data/*.db
data/*.db-shm
data/*.db-wal

# IDEs
.idea/
.vscode/

# Temporary files
*.save